// The color file contains all colors used in the project.

// Brand
$color-brand-primary: #272727;
$color-brand-secundary: #cfcfcf;

// Text
$color-text: black;
$color-link: #008fee;

// Backgrounds
$color-background-dark: #9f9f9f;
$color-background-light: #cfcfcf;

// Borders
$color-border: $color-background-dark;
$color-border-light: $color-background-light;