// The global settings file contains any project-wide variables.
// It contains values that need to be made available to the entire codebase

// Widths
$base-max-page-width: 1280px !default;

// Font size & line heights
$base-font-size: 12px !default;
$base-line-height: 24px !default;

// Font families
$base-font-family: "Arial" !default;

// Transitions
$base-transition: 0.2s;



