/* Variables */
// Brand
$color-brand-primary: #272727;
$color-brand-secundary: #cfcfcf;

// Text
$color-text: black;
$color-link: #008fee;

// Backgrounds
$color-background-dark: #9f9f9f;
$color-background-light: #cfcfcf;

// Borders
$color-border: $color-background-dark;
$color-border-light: $color-background-light;

// Widths
$base-max-page-width: 1045px !default;

// Font size & line heights
$base-font-size: 14px !default;
$base-line-height: 24px !default;

// Font families
$base-font-family: "Arial" !default;

// Transitions
$base-transition: 0.2s;



/* Basics */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  font: #{$base-font-size}/#{$base-line-height} #{$base-font-family};
}

#logo {
  width: 100px;
  height: 40px;
  margin: 15px 0;
  flex-basis: 100px;
}

/* Nav */
.section-header {
  background-color: $color-brand-primary;

  nav.nav-top {
    display: flex;

    ul.menu-top {
      display: flex;
      flex-basis: 90%;
      line-height: 1;
      padding: 0px;
      margin: 0px;
    }

    ul.menu-top > li.item {
      display: inline-block;
      align-self: center;
      padding: 0 12px !important;
      > a {
        color: $color-brand-secundary;

        &:hover {
          transition: color 150ms ease-out;
          color: #afafaf;
        }
      }
    }
  }
}

/* Search */
#search-site {
  align-self: center;
  height: 30px;
  margin-right: 10px;
  position: relative;

  &:after {
    position: absolute;
    right: 12px;
    top: 5px;
    content: '';
    border-radius: 50%;
    border: 1px solid $color-border;
    width: 13px;
    height: 13px;
  }

  &:before {
    position: absolute;
    right: 9px;
    top: 16px;
    content: '';
    border: 1px solid $color-border;
    width: 0px;
    height: 9px;
    transform: rotate(-45deg);
  }

  > input.search-field {
    width: 100%;
    height: 100%;
    padding-right: 25px;
    box-sizing: border-box;
  }
}

/* Hero */
$hero-img-w: $base-max-page-width;
$hero-img-h: 500px;
.section-hero {
  max-height: $hero-img-h;
  overflow: hidden;
}

.hero-image-container {
  height: 0;
  overflow: hidden;
  padding-top: $hero-img-h / $hero-img-w * 100%;
  background: white;
  position: relative;
  max-width: $hero-img-w;
  max-height: $hero-img-h;
  margin: 0 auto;
}
.hero-image-container img.hero-image {
  background-color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: $hero-img-h;
}

/* Body */
a {
  text-decoration: none;
  color: $color-link;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  margin: 20px 0px;
}
h2 {
  font-size: 28px;
  margin: 15px 0px;
}
h3 {
  font-size: 24px;
  margin: 10px 0px;
}

h4 {
  font-size: 20px;
  margin: 10px 0px;
}

.make-it-h5,
h5 {
  font-size: 18px;
  margin: 10px 0px;
}

h6 {
  font-size: $base-font-size;
  margin: 10px 0px;
}

ul, li {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  max-width: $base-max-page-width;
  margin: 0 auto;
}

.section-body {
  .container {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
  }

  .item {
    flex-basis: calc(33% - 20px);
    background-color: #fff;
    padding: 15px 30px 30px;
    border: 1px solid $color-border-light;

    .article-header {
      margin-top: 10px;
      margin-bottom: 30px;

      > img {
        width: calc(100% + 58px);
        margin: -24px -29px -19px;
      }
    }

    .article-body {
      .item {
        line-height: 46px;
        position: relative;
        border: none;

        &:not(:last-of-type) {
          border-bottom: 1px solid $color-border-light;
        }

        &:before,
        &:after {
          position: absolute;
          content: '';
          right: 10px;
          border: 1px solid $color-border;
          width: 0px;
          height: 9px;
        }

        &:before {
          transform: rotate(-45deg);
          top: 16px;
        }

        &:after {
          transform: rotate(45deg);
          bottom: 16px;
        }

        &:hover {
          transition: 150ms ease-out;
          cursor: pointer;

          &:before, &:after {
            border-color: $color-link;
          }
        }
      }
    }
  }

  &.section-emphasized {
    background-color: #efefef;

    > div > .item {
      border: none;
    }
  }
}


/* Footer */
.section-footer {
  background-color: $color-brand-primary;

  .container {
    display: flex;
    padding: 60px 0;
  }

  article {
    margin: 0 40px;
  }

  .make-it-h5 {
    color: $color-brand-secundary;
  }


  .footer-links {
    .item {
      line-height: 25px;
      list-style-type: square !important;
      list-style-position: inside;
      color: $color-brand-secundary;

      a {
        color: $color-brand-secundary;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .container:last-child {
    padding: 10px 0;
    color: #9f9f9f;
  }

  .footer-legal {
    flex-basis: 80%;
    display: flex;

    .item {
      padding: 0 20px !important;
      a {
        color: $color-brand-secundary;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
