.u-flex {
  display: flex;
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-none {
  display: none;
}

.u-greedy {
  width: 100%;
}

.u-flex-space-between {
  justify-content: space-between;
}