@import "1.settings/colors";

.section--header {
  background-color: $color-brand-primary;
}

.section--emphasized {
  background-color: #efefef;
}

.section-footer {
  background-color: $color-brand-primary;
}