/* Settings */
/* Tools */
/* Generic */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Elements */
body {
  font-family: "Arial";
  font-size: 12px; }

/* Objects */
/* Components */
/* Utilities */
.u-flex {
  display: flex; }

.u-block {
  display: block; }

.u-inline-block {
  display: inline-block; }

.u-none {
  display: none; }
