.c-button {
  display: inline-block;
  padding: (0.5 * $base-spacing-unit) $base-spacing-unit;

  text-decoration: none;

  -webkit-border-radius: $base-radius;
  -moz-border-radius: $base-radius;
  border-radius: $base-radius;

  transition: background-color $base-transition;

  &:hover,
  &:focus {
    background-color: $color-brand-secundary;
    cursor: pointer;
  }

  &--primary {
    background-color: $color-brand-primary;
    color: white;
  }

  &--secundary {
    background-color: white;
    color: $color-text;
  }
}